In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [10]:
df = pd.read_csv('data.csv', encoding='latin1', header=None, low_memory=False)

In [11]:
df.columns = ['province_id', 'province_name', 'city_id', 'city_name', 'district_id', 'district', 
              'npsn', 'school_name', 'stage', 'status', 'street_name', 'lat', 'long']

In [12]:
df.head()

,province_id,province_name,city_id,city_name,district_id,district,npsn,school_name,stage,status,street_name,lat,long
0,province_id,province_name,city_id,city_name,district_id,district,npsn,school_name,stage,status,street_name,lat,long
1,250000,Papua,251800,Kab. Tolikara,251831,Kec. Gilungbandu,60303704,SMP SATAP KAGI,SMP,N,Gilubandu,-3.4159950,138.3397040
2,250000,Papua,251800,Kab. Tolikara,251822,Kec. Wunin,60302267,SD YPPGI WURINERI,SD,S,Wunin,-3.4790000,138.6800000
3,250000,Papua,251800,Kab. Tolikara,251803,Kec. Bokondini,60302279,SMAN BOKONDINI,SMA,N,MAIRINI,-3.5317307,138.6582341
4,250000,Papua,251800,Kab. Tolikara,251814,Kec. Kuari,60302215,SD INPRES KUARI,SD,N,Kuari,-3.5181000,138.5295000

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215373 entries, 0 to 215372
Data columns (total 13 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   province_id    215373 non-null  object
 1   province_name  215373 non-null  object
 2   city_id        215373 non-null  object
 3   city_name      215373 non-null  object
 4   district_id    215373 non-null  object
 5   district       215373 non-null  object
 6   npsn           215373 non-null  object
 7   school_name    215373 non-null  object
 8   stage          215373 non-null  object
 9   status         215373 non-null  object
 10  street_name    215371 non-null  object
 11  lat            214223 non-null  object
 12  long           214223 non-null  object
dtypes: object(13)
memory usage: 21.4+ MB

In [14]:
df.describe()

,province_id,province_name,city_id,city_name,district_id,district,npsn,school_name,stage,status,street_name,lat,long
count,215373,215373,215373,215373,215373,215373,215373,215373,215373,215373,215371,214223,214223
unique,35,35,515,521,6920,6573,215372,203109,9,3,183814,112489,148494
top,20000,Jawa Barat,20500,Kab. Bogor,16207,Kec. Banjarsari,10263519,SD MUHAMMADIYAH,SD,N,Jl. Trans Sulawesi,.0000000,.0000000
freq,29532,29532,2955,2955,231,284,2,47,148479,166417,247,184,656

In [15]:
df.isnull().sum()

province_id         0
province_name       0
city_id             0
city_name           0
district_id         0
district            0
npsn                0
school_name         0
stage               0
status              0
street_name         2
lat              1150
long             1150
dtype: int64

In [16]:
df.duplicated().sum()

0

In [17]:
df[df.isnull().any(axis=1)]

,province_id,province_name,city_id,city_name,district_id,district,npsn,school_name,stage,status,street_name,lat,long
50,250000,Papua,253000,Kab. Lanny Jaya,253003,Kec. Tiom,69933489,SD Negeri Konikme,SD,N,Jalan Marthen Wakerkwa,NaN,NaN
214,250000,Papua,253200,Kab. Yalimo,253204,Kec. Elelim,69940380,SD NEGERI WAGAGU,SD,N,DESA WAGAGU,NaN,NaN
248,250000,Papua,253300,kab. Puncak,253302,Kec. Gome,69915341,SMP NEGERI 1 GOME,SMP,N,Jalan Raya Gome Distrik Gome,NaN,NaN
267,250000,Papua,253300,kab. Puncak,253301,Kec. Agadugume,69915345,SMP NEGERI 1 AGADUGUME,SMP,N,Jalan Raya Distrik Agadugume,NaN,NaN
440,260000,Bengkulu,260200,Kab. Rejang Lebong,260222,Kec. Curup Tengah,69901321,SD Negeri 171 REJANG LEBONG,SD,N,Kelurahan Air Bang,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
215130,250000,Papua,251600,Kab. Yahukimo,251627,Kec. Talambo,60303706,SDN TOLIKAPURA,SD,N,TOLIKAPURA,NaN,NaN
215153,250000,Papua,251600,Kab. Yahukimo,251637,Kec. Bomela,69924478,SDN BOMELA YAHUKIMO,SD,N,BOMELA,NaN,NaN
215170,250000,Papua,251600,Kab. Yahukimo,251632,Kec. Lolat,60303282,SD INPRES TIBUL,SD,N,-,NaN,NaN
215232,250000,Papua,251600,Kab. Yahukimo,251630,Kec. Dirwemna,69924472,SMPN DIPUL YAHUKIMO,SMP,N,DIRWEMNA,NaN,NaN
215250,250000,Papua,251600,Kab. Yahukimo,251610,Kec. Pasema,69831953,SDN HIRIN,SD,N,PASEMA,NaN,NaN